.awesome
  background-color: $primary-bg-color
  .title, .subtitle
    text-align: center
  &__clients-wrap
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 45px
    flex-wrap: wrap
    &-2
      flex-direction: row-reverse
  &__clients-foto
    display: block
    width: 100%
    max-width: 220px
    height: 100%
    min-height: 220px
    border-radius: 100%
    background-color: #000
  &__clients-quote
    flex-basis: 650px
    padding: 40px 85px
    border: 1px solid #e8e8e8
    background-color: #fff
    p
      font-size: 26px
      color: $primary-color
      line-height: 28px
      letter-spacing: -0.65px
    cite
      font-size: 20px
      color: #7690c5
      letter-spacing: -0.5px
      line-height: 36px

@media (max-width: 920px)
  .awesome
    &__clients-wrap
      //flex-wrap: wrap
      justify-content: center
    &__clients-foto
      margin-bottom: 20px
    &__clients-quote
      flex-basis: 500px
      padding: 20px 10px

@media (max-width: 550px)
  .awesome
    &__clients-quote
      p
        font-size: 18px
        line-height: 20px
      cite
        font-size: 14px
        line-height: 24px