@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-MediumItalic.eot')
  src: local('Brandon Grotesque Medium Italic'), local('BrandonGrotesque-MediumItalic'),
  url('../font/BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-MediumItalic.woff') format('woff'),
  url('../font/BrandonGrotesque-MediumItalic.ttf') format('truetype')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-Bold.eot')
  src: local('Brandon Grotesque Bold'), local('BrandonGrotesque-Bold'),
  url('../font/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-Bold.woff') format('woff'),
  url('../font/BrandonGrotesque-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-Light.eot')
  src: local('Brandon Grotesque Light'), local('BrandonGrotesque-Light'),
  url('../font/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-Light.woff') format('woff'),
  url('../font/BrandonGrotesque-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-Black.eot')
  src: local('Brandon Grotesque Black'), local('BrandonGrotesque-Black'),
  url('../font/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-Black.woff') format('woff'),
  url('../font/BrandonGrotesque-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-Medium.eot')
  src: local('Brandon Grotesque Medium'), local('BrandonGrotesque-Medium'),
  url('../font/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-Medium.woff') format('woff'),
  url('../font/BrandonGrotesque-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-ThinItalic.eot')
  src: local('Brandon Grotesque Thin Italic'), local('BrandonGrotesque-ThinItalic'),
  url('../font/BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-ThinItalic.woff') format('woff'),
  url('../font/BrandonGrotesque-ThinItalic.ttf') format('truetype')
  font-weight: 100
  font-style: italic

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-Thin.eot')
  src: local('Brandon Grotesque Thin'), local('BrandonGrotesque-Thin'),
  url('../font/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-Thin.woff') format('woff'),
  url('../font/BrandonGrotesque-Thin.ttf') format('truetype')
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-LightItalic.eot')
  src: local('Brandon Grotesque Light Italic'), local('BrandonGrotesque-LightItalic'),
  url('../font/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-LightItalic.woff') format('woff'),
  url('../font/BrandonGrotesque-LightItalic.ttf') format('truetype')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-Regular.eot')
  src: local('Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
  url('../font/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-Regular.woff') format('woff'),
  url('../font/BrandonGrotesque-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-RegularItalic.eot')
  src: local('Brandon Grotesque Regular Italic'), local('BrandonGrotesque-RegularItalic'),
  url('../font/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-RegularItalic.woff') format('woff'),
  url('../font/BrandonGrotesque-RegularItalic.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-BoldItalic.eot')
  src: local('Brandon Grotesque Bold Italic'), local('BrandonGrotesque-BoldItalic'),
  url('../font/BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-BoldItalic.woff') format('woff'),
  url('../font/BrandonGrotesque-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Brandon Grotesque'
  src: url('../font/BrandonGrotesque-BlackItalic.eot')
  src: local('Brandon Grotesque Black Italic'), local('BrandonGrotesque-BlackItalic'),
  url('../font/BrandonGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/BrandonGrotesque-BlackItalic.woff') format('woff'),
  url('../font/BrandonGrotesque-BlackItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic